
<div class="container">


   <div class="span6">

      <h2>Presiona finalizar para comenzar el envio de mensajes</h2>
     
         
         
	
<p>
  <button class="btn btn-large btn-success" type="button"  onclick="  window.location = '{{  path('finalizar') }}' " >Confirmar envio</button>
 
</p>
      </div>
   </div>
</div>




