

  							<div class="footer" style="margin-top: 60px;" >

  								<div class="container">

  									<div class="row">

  										<div id="footer-copyright" class="col-md-6">
  											&copy; 2014 Celmedia SA.
  										</div> <!-- /span6 -->

  										<div id="footer-terms" class="col-md-6">
  											<a href="http://jumpstartui.com" target="_blank">Celmedia Crm Manager</a>
  										</div> <!-- /.span6 -->

  									</div> <!-- /row -->

  								</div> <!-- /container -->

  							</div> <!-- /footer -->
