
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(../../../bundles/celmediaportal/font/relaway_light.woff) format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(../../../bundles/celmediaportal/font/relaway.woff) format('woff');
}



.jumbotron{
	background: url('../../../bundles/celmediaportal/images/banner.jpg');
	height: 433px;
}

.espaciador-form{
	margin-bottom: 10px;
}
.input-append, .input-prepend {
	display: inline-block;
	margin-bottom: 10px;
	font-size: 0;
	white-space: nowrap;
	vertical-align: middle;
}
.input-append .add-on:last-child, .input-append .btn:last-child, .input-append .btn-group:last-child > .dropdown-toggle {
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}
.input-append .add-on, .input-prepend .add-on, .input-append .btn, .input-prepend .btn, .input-append .btn-group > .dropdown-toggle, .input-prepend .btn-group > .dropdown-toggle {
	vertical-align: top;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.input-append .add-on, .input-prepend .add-on {
	display: inline-block;
	width: auto;
	height: 20px;
	min-width: 16px;
	padding: 4px 5px;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	text-align: center;
	text-shadow: 0 1px 0 #ffffff;
	background-color: #eeeeee;
	border: 1px solid #ccc;
}
.input-append .add-on, .input-append .btn, .input-append .btn-group {
	margin-left: -1px;
}


/*.primer_paso_color{
	background-color: 
}*/


.panel-info {
border-color: #31708f;
}
.panel-info > .panel-heading {
background-color: #9DD2EC;
border-color: #31708f;
}

.panel-warning > .panel-heading {
background-color: #F6E690;
border-color: #8a6d3b;
}
.panel-warning {
border-color: #8a6d3b;
}

.panel-success {
border-color: #3c763d;
}

.panel-success > .panel-heading {
background-color: #A9E092;
border-color: #3c763d;
}

.tarjeta:hover{
	background: #9EE4FF;
}
.mensaje:hover{
	background: #9EE4FF;
}
/*#form_edadInicial{
	width: 70%;
}
#form_edadFinal{
	width: 93%;
}*/
.celular{
	background: url('../../../img/Telefono-1.png');
	height: 365px;
	width: 174px;
}
.celular:hover{
	background: url('../../../img/Telefono-2.png');
}





.form-control {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    border-radius: 0px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
}

.seleccion_tipo_mensaje{
	cursor: pointer;
}
.seleccion_tipo_mensaje:hover{
	background-color: gray;
	border-radius: 3px;
}

.card{
	box-shadow: 2px 2px 5px #808080;
}

.nextBox{
	margin-top: 30px !important ; 
	margin-bottom: 30px  !important;
}

input, textarea, .uneditable-input {
    width: 256px;
}