{%   extends("CelmediaPortalSmsBundle::layout.html.twig") %}


{% block contenido %}

	<div id="page-wrapper">



        <div class="row">
          <div class="col-lg-12">
            <h1>Herramienta para envíos de SMS <small>Promociones</small></h1>
            <ol class="breadcrumb">
              <li class="active"><i class="fa fa-home"></i> Promociones</li>
            </ol>
            
          </div>
        </div><!-- /.row -->




<div class="jumbotron">
  <h1>Portal SMS</h1>
  <p>
Envía mensajes a tú público objetivo en 3 simples pasos.</p>
  <p><a class="btn btn-primary btn-lg" role="button"  href="{{  path('target') }}" > Comienza ahora</a></p>
</div>





        <div class="row">

          <div class="col-lg-4">
            <div class="panel panel-info primer-paso-color">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-5">
                    <i class="fa fa-group fa-4x"></i>
                  </div>
                  <div class="col-xs-7 text-right">
                    <p class="announcement-heading">Paso1</p>
                    <p class="announcement-text">Definicion del Publico.</p>
                  </div>
                </div>
              </div>
              <a href="#">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-12">
                      Selecciona el público objetivo
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="panel panel-warning">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-5">
                    <i class="fa fa-envelope fa-5x"></i>
                  </div>
                  <div class="col-xs-7 text-right">
                    <p class="announcement-heading">Paso2</p>
                    <p class="announcement-text">Define el mensaje que quieres enviar.</p>
                  </div>
                </div>
              </div>
              <a href="#">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-12">
                      Tu mensaje promoverá tu publicación de campaña.
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="panel panel-success">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-5">
                    <i class="fa fa-check fa-5x"></i>
                  </div>
                  <div class="col-xs-7 text-right">
                    <p class="announcement-heading">Paso3</p>
                    <p class="announcement-text">Envía tú mensaje o tarjeta virtual</p>
                  </div>
                </div>
              </div>
              <a href="#">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-12">
                      Envia tus mensajes 
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>

        </div><!-- /.row -->


      </div><!-- /#page-wrapper -->

{% endblock %}

